In [ ]:
#A tuple is like list too but it is unmutable
#Firstly tuple is ordered meaning (1,2,3) is not the same as (3,2,1)
#secondly once declared tuple is unchangeble
#Thirdly it allows duplicates

In [ ]:
#single item tuple
a=('hello',)
print(a)

('hello',)

In [ ]:
b=(1,)
print(a)
#if a comma , is not put then it will turn into a string

('hello',)

In [ ]:
b1=(1)
print(b1)

1

In [ ]:
b2=('halloween')
print(b2)

halloween

In [ ]:
b3=(1,2,3,4)
print(b3[::-1])

(4, 3, 2, 1)

In [ ]:
#adddition and editing of tuple doesnot work only complete deletion works
t5=(1,2,3,4,5)
del t5
print(t5)

NameError: ignored

In [ ]:
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
print(t1*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# len(),sum(),min(),max(),sorted() exists in both tuples and list

In [ ]:
s=(1,2,3,5,4,3,5,4,5,4,5,4)
s.count(5)

4

In [ ]:
s.index(5)

3

In [ ]:
#immutable datatypes are faster than mutable datatypes hence tuples are faster than lists

In [ ]:
import time
l=list(range(100000000))
t=tuple(range(100000000))
start=time.time()
for i in l:
  i*5
print("list time: ",time.time()-start)
start1=time.time()
for i in t:
  i*5
print("tuple time: ",time.time()-start1)
#speed of tuple is less

list time:  28.376322507858276
tuple time:  15.445274829864502

In [ ]:
import sys
l=list(range(1000))
t=tuple(range(1000))
print('list size is ',sys.getsizeof(l))
print('tuple size is ',sys.getsizeof(t))
#size of tuple is less

list size is  8056
tuple size is  8040

In [ ]:
a=(1,2,3)
b=a
a=a+(4,)
print(a)
print(b)
#even though as he changes, no change is reflected on b
#When you do a=a+(4,) then a new tuple is created (1,2,3,4) and a is reassigned to it , (1,2,3,4) is pointing to a new location
#The original tuple (1,2,3) is not modified and it points to a newly created tuple and (1,2,3,4) points to a different memory location
#a is re-assigned to newly created tuple (1,2,3,4)

(1, 2, 3, 4)
(1, 2, 3)

In [ ]:
#tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [ ]:
a,b,*others=(1,2,3,4)
print(a)
print(b)
print(others)
#*others means rest of the elements are stored in others in the form of list

1
2
[3, 4]

In [ ]:
a=(1,2,3)
b=(4,5,6)
list(zip(a,b))

[(1, 4), (2, 5), (3, 6)]

In [ ]:
tuple(zip(a,b))

((1, 4), (2, 5), (3, 6))

In [ ]:
# Assigning an integer value to a variable
x = 10

# Trying to modify the value of x directly
x = 20  # This creates a new integer object with value 20 and assigns it to x

# Printing the value of x
print(x)  # Output: 20
#In this example when we assign the value 10 with variable x a new integer object with value 10 is created. Later when we assign 20 to x a new integer object with value 20 is created
#the variable x is updated to refer to this new object. The original value 10 is not modified, it is just discarded by python's memory management system
# Assigning a float value to a variable
y = 3.14

# Trying to modify the value of y directly
y = 2.71  # This creates a new float object with value 2.71 and assigns it to y

# Printing the value of y
print(y)  # Output: 2.71
#when 3.14 is assigned to variable y, a new float object with value 3.14 is created. Later when we assign 2.71 to y, a new float object with 2.71 is created and the variable y is
#updated to refer to this new object
#

In [ ]:
#while set itself is immutable, elements added to set should be unique and mutable(for example integer and floats) and adding unmutable elements to set would give errors
# Elements of the set are immutable (integers)
my_set = {1, 2, 3}

# Attempting to add a list (mutable) as an element will raise an error
my_set.add([4, 5])  # TypeError: unhashable type: 'list'

TypeError: ignored

In [ ]:
# Creating an empty set
my_set = set()

# Adding elements to the set (set is mutable)
my_set.add(10)
my_set.add(20)

# Removing an element from the set
my_set.remove(10)
my_set

{20}

In [ ]:
{1,2,3}=={3,2,1}

True

In [ ]:
#set is unordered,mutable and contains no duplicates ,cannot contain mutable datatypes like list
#also set within a set is not possible as it contains only immutable objects

In [ ]:
set1={}
print(type(set))
del set

<class 'dict'>

In [ ]:
s=set()
print(type(s))

<class 'set'>

In [ ]:
s3={1,"hello",4.5,True}
print(s3)
#Python treats True as 1 and as set doesnot take duplicates so True gets eliminated

{1, 4.5, 'hello'}

In [ ]:
s4={True,"hello",4.5,1}
print(s4)

{True, 4.5, 'hello'}

In [ ]:
s5={1,"hello",4.5,(1,2,3)}
print(s5)
#the output that we get doesnot follow the same order as sets in python are unordered and the order in which output gets stored depends upon hashing

{1, (1, 2, 3), 4.5, 'hello'}

In [ ]:
s6=set([1,2,3])
print(s6)

{1, 2, 3}

In [ ]:
s7=set({1,1,2,2,3,3})
print(s7)
#duplicates are not allowed in sets

{1, 2, 3}

In [ ]:
s8=set({1,2,3,[1,2,3]})
print(s8)
#list is mutable so it would give error, it cannot be item of the set

TypeError: ignored

In [ ]:
s1={1,2,3}
s2={3,2,1}
print(s1==s2)
#sets are unordered, order doesnot matter here as long as contentes are same, lista and tuples are ordered, order matters in list and tuples

True

In [ ]:
s1={1,2,3}
s1[0]
#acessing items or slicing doesnot work in sets beacuse it is unordered

TypeError: ignored

In [ ]:
s1=(1,3,4)
s1[-1]=100
print(s1)

TypeError: ignored

In [ ]:
s1=s1+(4,)
print(s1)

(1, 3, 4, 4)

In [ ]:
s1={1,2,3,3}
s1[0]=100
#editing too doesnot work in set like tuples but unlike set which is mutable tuple is unmutable
#once you declare set u can neither edit items nor view items in them
#

TypeError: ignored

In [ ]:
s={1,2,3,4}
s.add(5)
print(s)
#adding items to set, hashing control index position of added items

{1, 2, 3, 4, 5}

In [ ]:
s.update([5,6,7])
print(s)
#update is used to add multiple items at once

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s={1,2,3,4,5}
s.discard(5)
print(s)
s.discard(50)

{1, 2, 3, 4}

In [ ]:
s1={1,2,3,4,5}
s1.remove(4)
print(s1)

{1, 2, 3, 5}

In [ ]:
s1.remove(50)
print(s1)
#remove would give error on trying to remove the item which doesnot exist whereas discard won't give any error

KeyError: ignored

In [ ]:
s1.pop()
#pop randomly deletes item from set

1

In [ ]:
l=[1,2,3,4]
l.clear()
l

[]

In [ ]:
s1={1,2,3,4,5}
s1.clear()
s1
#clear() clears all items from a set or list

set()

In [ ]:
s1=(1,2,3,4)
s1.clear()
s1

AttributeError: ignored

In [ ]:
s1=(1,2,3,4)
del s1
s1
#del works on tuple too but clear() doesnot work on tuple

NameError: ignored

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1|s2
#union combines both the sets such that every item appears only once

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1 & s2
#intersection operation
#prints out common items

{4, 5}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1-s2
#difference operation
#items of s1 which are not present in s2

{1, 2, 3}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1^s2
#unique items of each set, except the common
#symmetric difference operation

{1, 2, 3, 6, 7, 8}

In [ ]:
s={3,1,4,5,2,7}
len(s)

6

In [ ]:
sum(s)

22

In [ ]:
min(s)

1

In [ ]:
max(s)

7

In [ ]:
sorted(s)
#the sorted items are placed in ascending order

[1, 2, 3, 4, 5, 7]

In [ ]:
#union/update
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.intersection(s2)

{4, 5}

In [ ]:
s1.intersection_update(s2)
print(s1)
print(s2)
#s1 is updated to include only the intersectional elements

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [ ]:
s1.symmetric_difference_update(s2)
print(s1)
print(s2)
#s1 is updated with symmetric_difference_update

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.isdisjoint(s2)
#This prints out False because 4 and 5 are present in both s1 and s2

False

In [ ]:
s1={1,2,3,4,5}
s2={6,7,8,9,11}
s1.isdisjoint(s2)
#This prints out True as s1 and s2 are actually disjoint

True

In [ ]:
s1={1,2,3,4,5}
s2={3,4,5}
s2.issubset(s1)
#Prints out True as s2 is subset of s1, s2 contains {3,4,5} which is contained in s1

True

In [ ]:
s1.issubset(s2)

False

In [ ]:
s1.issuperset(s2)
#True gets printed as s1 is actually superset of s2 as s1 contains all elements of s2 and more

True

In [ ]:
s1={1,2,3}
s2=s1.copy()
print(s1)
print(s2)
#set is unordered, list and tuple are ordered
#set cannot contain duplicates, list and tuples can
#set and lists are mutable tuples are immutable
#all items of sets has to be mutable (int,float,tuples)
#In the case of above s1 and s2 are stored in two seperate memory locations

{1, 2, 3}
{1, 2, 3}

In [ ]:
s1={1,2,3}
s2=s1
s1.add(5)
print(s1)
print(s2)

{1, 2, 3, 5}
{1, 2, 3, 5}

In [ ]:
s1=(1,2,3)
s2=s1
s1=s1+(4,)
print(s1)
print(s2)

(1, 2, 3, 4)
(1, 2, 3)

In [ ]:
#frozen set is just an immutable version of python set object
fs=frozenset([1,2,3])
fs
#immutable means new items cannot be added and old items cannot be deleted

frozenset({1, 2, 3})

In [ ]:
fs1=frozenset([1,2,3])
fs2=frozenset([3,4,5])
fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
fs1 & fs2

frozenset({3})

In [ ]:
fs1 ^ fs2

frozenset({1, 2, 4, 5})

In [ ]:
#union, intersection, difference and symmetric difference will work on frozenset as well
#all read operations work on frozen sets but not write operations, all the above operations are read operations

In [ ]:
#2D frozen set is possible as frozen sets themselves are immutables and set can only contain immutables
fs1=frozenset([1,2,frozenset([3,4,5])])
fs1

frozenset({1, 2, frozenset({3, 4, 5})})

In [ ]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

In [ ]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [ ]:
#Dictionary is a python collection of keys values used to store data values like map which unlike other datatypes which stores only a single value as ana element
#dictionaries are mutable
#indexing has no meaning
#keys can't be duplicated
#keys can't be mutable items
#In python, keys must be immutable because of how dictionaries are implemented using hash tables data structures. The requirement for immutable keys is fundamental to ensure stability
#and predictability of dictionary operations.
#Dictionary in python uses a hash table to store a key-value pair efficiently. Hash table works by calculating the hash value of each key and using this hash value as an index to store and
#retrieve the corresponding index values. The hash value determines the location(bucket) in the hash table where the key-value pair is stored. By using the same hash values consistently , Python can
#locate keys consistently and perform operations like retrieval in constant time O(1)
#In dictionary each key must be unique. If you attempt to add a key that already exists in the dictionary, the new value will overwrite the old one. To ensure uniqueness, Python relies on the
#assumption that the hash value of a given key remains constant throughout its lifetime. If a key were mutable and its value changed, the hash value would change as well, leading to inconsistencies
#in the dictionary's internal structure.
#If the keys were mutable, and their values could change, the dictionary's behaviour would be unpredicatable. By enforcing immutability on keys, Python ensures that once a key-value pair is added to the dictionary
#the key cannot change, preserving the integrity of the mapping.
#Example of immutable keys in dictionaries include integers,strings,floats, tuples . These datatypes have fixed hash values, making them suitable for use as keys in dictionaries.
#lists,dictionaries and sets cannot be used as keys in the dictionary. These datatypes can change contents after being used as keys.
#

In [ ]:
#empty dictionary
d={}
d

{}

In [ ]:
#1D dictionary
d1={'name':"shamin","age":33,"gender":"male"}
d1

{'name': 'shamin', 'age': 33, 'gender': 'male'}

In [ ]:
#with mixed keys
d2={(1,2,3):"dungeon","name":"dhindora"}
d2

{(1, 2, 3): 'dungeon', 'name': 'dhindora'}

In [ ]:
#2D dictionary
s={"name":"lambouh",
   "college":"cid",
   "sem":4,
   "subject":{
      "dsa":50,
      "maths":47,
      "english":99
   }}
s

{'name': 'lambouh',
 'college': 'cid',
 'sem': 4,
 'subject': {'dsa': 50, 'maths': 47, 'english': 99}}

In [ ]:
#using sequence and dict function
d4=dict([(1,1),(2,2),(3,3),(4,4)])
d4

{1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
d5={'name':'nitish','name':'rohendra'}
d5

{'name': 'rohendra'}

In [ ]:
d6={'name':'niteshwar','age':26}
d6['name']

'niteshwar'

In [ ]:
d6.get('name')

'niteshwar'

In [ ]:
f="ssttrrffgghh"

NameError: ignored

In [ ]:
d9={'name':'nitish','age':9,3:3,'gender':'male','weight':72}
d9.pop(3)
print(d9)

{'name': 'nitish', 'age': 9, 'gender': 'male', 'weight': 72}

In [ ]:
d9.popitem()
d9

{'name': 'nitish', 'age': 9, 'gender': 'male'}

In [ ]:
d9.popitem()
d9
#removes the last key-value pair

{'name': 'nitish', 'age': 9}

In [ ]:
del d9['name']

In [ ]:
d9

{'age': 9, 'gender': 'male', 'weight': 72}

In [ ]:
d9.clear()
d9

{}

In [ ]:
d10={'name':'dhwani',
     'age':19,
     'sem':4,
     'branch':'electrical',
     'subject':{'math':67,
                'englisho':91,
                'GS':80}}

In [ ]:
d10['subject']['math']

67

In [ ]:
del d10['subject']['math']
d10

{'name': 'dhwani',
 'age': 19,
 'sem': 4,
 'branch': 'electrical',
 'subject': {'englisho': 91, 'GS': 80}}

In [ ]:
d10['subject']['GS']=82
d10

{'name': 'dhwani',
 'age': 19,
 'sem': 4,
 'branch': 'electrical',
 'subject': {'englisho': 91, 'GS': 82}}

In [ ]:
'dhwani' in d10
#This is false because in dictionaries only keys are searched and as 'dhwani' is not there amongst the keys so False is returned

False

In [ ]:
'name' in d10
#

True

In [ ]:
d={'name':'dharam','age':23,'gender':'male'}
for i in d:
  print(i)

name
age
gender

In [ ]:
for i in d:
  print(d[i])

dharam
23
male

In [ ]:
for i in d:
  print(i,d[i])

name dharam
age 23
gender male

In [ ]:
len(d)

3

In [ ]:
sorted(d)
#sorted on the basis of alphabets

['age', 'gender', 'name']

In [ ]:
sorted(d,reverse=True)
#sorted in descending order according to first alphabet

['name', 'gender', 'age']

In [ ]:
print(d.items())
#

dict_items([('name', 'dharam'), ('age', 23), ('gender', 'male')])

In [ ]:
print(d.keys())

dict_keys(['name', 'age', 'gender'])

In [ ]:
print(d.values())

dict_values(['dharam', 23, 'male'])

In [ ]:
d1={1:2,3:4,4:5}
d2={4:7,6:8}
d1.update(d2)
print(d1)
#As we can see here, value of 4 which is 5 gets updated by 7 and 6 key which was not there is now added

{1: 2, 3: 4, 4: 7, 6: 8}

In [ ]:
#dictionary comprehension
#{key:values for variables in iterable}
{i:i*2 for i in range(1,11)}

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [ ]:
distances={'delhi':1000,'mumbai':2000,'banglore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [ ]:
#using zip
days=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_c=[30.6,32.6,31.6,29.4,45.0,27.0,24.4]
list(zip(days,temp_c))

[('Sunday', 30.6),
 ('Monday', 32.6),
 ('Tuesday', 31.6),
 ('Wednesday', 29.4),
 ('Thursday', 45.0),
 ('Friday', 27.0),
 ('Saturday', 24.4)]

In [ ]:
{key:value for (key,value) in list(zip(days,temp_c))}

{'Sunday': 30.6,
 'Monday': 32.6,
 'Tuesday': 31.6,
 'Wednesday': 29.4,
 'Thursday': 45.0,
 'Friday': 27.0,
 'Saturday': 24.4}

In [ ]:
{key:value for (key,value) in zip(days,temp_c)}

{'Sunday': 30.6,
 'Monday': 32.6,
 'Tuesday': 31.6,
 'Wednesday': 29.4,
 'Thursday': 45.0,
 'Friday': 27.0,
 'Saturday': 24.4}

In [ ]:
products={'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
#print table of numbers from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
my_list = [1, 2, 3, 4, 5]
result = my_list[-2:-4:-1]
print(result)

[4, 3]

In [ ]:
t1=(1,2,3,4,5)
t2=(4,5,6,7,8)
print(t1+t2)
tuple(set(t1+t2))

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# Q1: Join Tuples if similar initial element
# While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
t1=[]
t2=[]
t3=[]
for t in test_list:
  print(t)
  print(t[0])
  if t[0] in t3:
    t3+=t
    print("k")
  else:
    t1.append(t)
print(t3)
print(t1)

(5, 6)
5
(5, 7)
5
(5, 8)
5
(6, 10)
6
(7, 13)
7
[]
[(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

In [ ]:
res={}
res[1]=[3]
res[1].append(2)
print(res)

{1: [3, 2]}

In [ ]:
dict={5:[6,7,8],6:[10],7:[13]}
dict.items()

dict_items([(5, [6, 7, 8]), (6, 10), (7, 13)])

In [ ]:
print([5]+[6,7,8])

[5, 6, 7, 8]

In [ ]:
print(5+[6,7,8])

TypeError: ignored

In [ ]:
#Q1
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result_dict={}
for k in test_list:
  key=k[0]
  if key in result_dict:
    result_dict[key].append(k[1])
  else:
    result_dict[key]=[k[1]]
print(result_dict)

{5: [6, 7, 8], 6: [10], 7: [13]}

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result_dict={}
for k in test_list:
  key=k[0]
  if key in result_dict:
    result_dict[key].append(k[1])
  else:
    result_dict[key]=[k[1]]
[tuple([key]+result) for (key,result) in result_dict.items()]

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result_dict={}
for k in test_list:
  key=k[0]
  if key in result_dict:
    result_dict[key].append(k[1])
  else:
    result_dict[key]=[k[1]]
[tuple([key]+result) for (key,result) in result_dict.items()]

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [ ]:
# The original tuple : (1, 5, 7, 8, 10)
# Resultant tuple after multiplication :

# (1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)
c=(1, 5, 7, 8, 10)
for i in range(2,len(c)-2):

In [ ]:
c=(1,5,7,8,10)
list(zip(c,c[1:],c[2:]))

[(1, 5, 7), (5, 7, 8), (7, 8, 10)]

In [ ]:
c = (1, 5, 7, 8, 10)

# Perform element-wise multiplication and addition using list comprehension and zip
resultant_tuple = tuple(a * b + b * c for a, b, c in zip(c, c[1:], c[2:]))

print(resultant_tuple)

(40, 91, 136)

In [ ]:
c=(1,5,7,8,10)
list(zip(c,c[1:],c[2:]))

[(1, 5, 7), (5, 7, 8), (7, 8, 10)]

In [ ]:
#Q2
c=(1,5,7,8,10)
resultant_tuple=(c[0]*c[1],)+tuple(a*b+b*c for a,b,c in zip(c,c[1:],c[2:]))+(c[-1]*c[-2],)
print(resultant_tuple)

(5, 40, 91, 136, 80)

In [ ]:
#Q2 type
c=[1,5,7,8,10]
resultant_tuple=[c[0]*c[1]]+[a*b+b*c for a,b,c in zip(c,c[1:],c[2:])]+[c[-1]*c[-2]]
print(resultant_tuple)

[5, 40, 91, 136, 80]

In [ ]:
#Q2 type
c={1,5,7,8,10}
s=set()
s.add(c[0]*c[1])
s.add(a*b+b*c for a,b,c in zip(c,c[1:],c[2:]))
s.add(c[-1]*c[-2])
print(s)

TypeError: ignored

In [ ]:
c = {1, 5, 7, 8, 10}
s = set()
s.add(c[0] * c[1])
s.update(a * b + b * c for a, b, c in zip(c, c[1:], c[2:]))
s.add(c[-1] * c[-2])
print(s)

TypeError: ignored

In [ ]:
c = {1, 5, 7, 8, 10}
s = set()
s.add(c.pop() * c.pop(0))
s.update(a * b + b * c for a, b, c in zip(c, c, c))
print(s)

TypeError: ignored

In [ ]:
#Q2 doing the 2nd question again with sets
c=(1,5,7,8,10)
resultant_set=(c[0]*c[1],)+tuple(a*b+b*c for a,b,c in zip(c,c[1:],c[2:]))+(c[-2]*c[-1],)
print(resultant_set)

(5, 40, 91, 136, 80)

In [ ]:
list(zip(c,c[1:],c[2:]))

[(1, 5, 7), (5, 7, 8), (7, 8, 10)]

In [ ]:
# Q3: Check is tuples are same or not?
# Two tuples would be same if both tuples have same element at same index
t1 = (1,2,3,0)
t2 = (0,1,2,3)
t3=(1,2,3,0)
s=True
for i in t1:
  if t1[i]!=t2[i]:
    s=False
if s:
  print("Same")
else:
  print("Different")

Different

In [ ]:
# Q4: Count no of tuples, list and set from a list
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
count_list=0
count_tuple=0
count_set=0
for t in list1:

In [ ]:
#use of isinstance function
l=[5,4.2,3.4,6]
fl=[]
innss=[]
for k in l:
  if isinstance(k,float):
    fl.append(k)
  else:
    innss.append(k)
print(fl)
print(innss)

[4.2, 3.4]
[5, 6]

In [ ]:
# Q4: Count no of tuples, list and set from a list
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
count_tuples=0
count_list=0
count_set=0
for i in list1:
  if isinstance(i,tuple):
    count_tuples+=1
  elif isinstance(i,list):
    count_list+=1
  elif isinstance(i,set):
    count_set+=1
print(count_tuples,count_list,count_set)

1 2 2

In [ ]:
# Q5: Shortlist Students for a Job role
# Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

# Show every students record in form of tuples if matches all required criteria.

# It is assumed that there will be only one primry skill.

# If no such candidate found, print No such candidate

In [ ]:
#q6
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
fs1=frozenset(ar1)
fs2=frozenset(ar2)
fs3=frozenset(ar3)
list(fs1 & fs2 & fs3)

[80, 20]

In [ ]:
# Q2: Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
a1=['a','e','i','o','u','A','E','I','O','U']
b1=[]
for i in Str1:
  if i in a1:
    b1.append(i)
c1=list(set(b1))
print(len(c1))

6

In [ ]:
# Q3: Write a program to Check if a given string is binary string of or not.
# A string is said to be binary if it's consists of only two unique characters.

# Take string input from user.
def mnd(a):
  a1=list(set([i for i in a]))
  if len(a1)==2:
    print("Binary")
  else:
    print("No")

a=input("Enter the string: ")
mnd(a)

Enter the string: Binary
No

In [ ]:
# 4: find union of n arrays.
# Example 1:

# Input:

a=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

In [ ]:
a=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

In [ ]:
def mnds(a):
  a1=set()
  for i in a:
    a1.update(i)
  return list(a1)
mnds(a)
#update statement combines two sets having unique elements

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
a1={1,2,3,4,5}
a2={4,5,6,7,8}
a1.update(a2)
print(a1)
#Update function adds 2 sets and it doesnot contain duplicates(which is characteristic of sets), sets are unordered,

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Q5: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using list-comprehension.
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
[a for a in lst1&lst2]

[9, 10, 4, 5]

In [ ]:
lst11 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst22 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
sorted([a for a in lst11&lst22])

[9, 11, 26, 28]

In [ ]:
# Q1: Key with maximum unique values
# Given a dictionary with values list, extract key whose value has most unique values.
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
test_dict1={}
for k in test_dict:
  test_dict1[k]=len(set(test_dict[k]))
print(test_dict1)
c=[a for a in test_dict1 if test_dict1[a]==max(test_dict1.values())]
print("".join(c))

{'CampusX': 5, 'is': 4, 'Best': 3}
CampusX

In [ ]:
#Q1
test_dict1 = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
test_dict2={}
for k in test_dict1:
  test_dict2[k]=len(set(test_dict1[k]))
"".join([a for a in test_dict2 if test_dict2[a]==max(test_dict2.values())])

'Best'

In [ ]:
# Q2: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.
# Example 1:

# Input:

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
c=test_str.split()
print(c)
d=[]
for i in c:
  if i in repl_dict:
    d.append(repl_dict[i])
  else:
    d.append(i)
print(d)
" ".join(d)

['CampusX', 'best', 'for', 'DS', 'students.']
['CampusX', 'is the best channel', 'for', 'Data-Science', 'students.']

'CampusX is the best channel for Data-Science students.'

In [ ]:
# Example 2:

# Input:

test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
c=[]
d=test_str.split()
for i in d:
  if i in repl_dict:
    c.append(repl_dict[i])
  else:
    c.append(i)
" ".join(c)

'CampusX best for DS students.'

In [ ]:
# Q3: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.
# Example 1:

# Input:

test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
list(zip(test_list,key_list))

[('DataScience', 'name'), (3, 'id')]

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
[{b:a} for a in test_list for b in key_list]

[{'name': 'DataScience'},
 {'id': 'DataScience'},
 {'name': 3},
 {'id': 3},
 {'name': 'is'},
 {'id': 'is'},
 {'name': 8},
 {'id': 8}]

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
output_kama=[{key_list[0]:test_list[i],key_list[1]:test_list[i+1]} for i in range(0,len(test_list),2)]
print(output_kama)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
out_kama1=[{key_list[0]:test_list[i],key_list[1]:test_list[i+1]} for i in range(0,len(test_list),2)]
out_kama1

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [ ]:
# Q4: Convert a list of Tuples into Dictionary.
# Example 1:

# Input:

c10=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
{a:[b] for (a,b) in c10}

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

In [ ]:
# Example 2:

# Input:

c11=[('A', 1), ('B', 2), ('C', 3)]
{a:[b] for (a,b) in c11}

{'A': [1], 'B': [2], 'C': [3]}

In [ ]:
# Q5: Sort Dictionary key and values List.
# Example 1:

# Input:

a11={'c': [3], 'b': [12, 10], 'a': [19, 4]}
{a:sorted(a11[a]) for a in sorted(a11)}

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [ ]:
a12={'c': [3], 'b': [12, 10], 'a': [19, 4]}
{a:sorted(a12[a]) for a in sorted(a12)}

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [ ]:
a14={'c': [10, 34, 3]}
{a:sorted(a14[a]) for a in sorted(a14)}

{'c': [3, 10, 34]}

In [ ]:
#q1
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
t={}
for i in test_list:
  key=i[0]
  if key in t:
    t[key].append(i[1])
  else:
    t[key]=[i[1]]
[[key]+result for (key,result) in t.items()]

[[5, 6, 7, 8], [6, 10], [7, 13]]

In [ ]:
#q2
a1=(1, 5, 7, 8, 10)
sem=(a1[0]*a1[1],)+tuple(a*b+b*c for (a,b,c) in zip(a1,a1[1:],a1[2:]))+(a1[-1]*a1[-2],)
print(sem)

(5, 40, 91, 136, 80)

In [ ]:
t1 = (1,2,3,0)
t2 = (1,2,3,0)
flag=False
for i in range(len(t1)):
  if t1[i]!=t2[i]:
    flag=True
if flag:
  print("Different")
else:
  print("Same")

Same

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
count_list=0
count_set=0
count_tuple=0
for i in list1:
  if isinstance(i,list):
    count_list+=1
  elif isinstance(i,set):
    count_set+=1
  elif isinstance(i,tuple):
    count_tuple+=1
print(f"List count: {count_list}")
print(f"Set count: {count_set}")
print(f"Tuple count: {count_tuple}")

List count: 2
Set count: 2
Tuple count: 1

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
fs1=frozenset(ar1)
fs2=frozenset(ar2)
fs3=frozenset(ar3)
list(fs1&fs2&fs3)

[80, 20]

In [ ]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
d1=['a','e','i','o','u','A','E','I','O','U']
e1=[]
for i in Str1:
  if i in d1:
    e1.append(i)
len(set(e1))

6

In [ ]:
#q3
def mnd(a):
  a1=[]
  for i in a:
    a1.append(i)
  c1=len(set(a1))
  if c1==2:
    print("binary")
  else:
    print("Not binary")
a21=input("Enter the string: ")
mnd(a21)

Enter the string: campusx
Not binary

In [ ]:
a12=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
s1=frozenset([])
for i in a12:
  s1=s1|frozenset(i)
print(list(s1))

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
a12=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
a1=set()
for i in a12:
  a1=a1.update(seti)
print(a1)

AttributeError: ignored

In [ ]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
tester1={}
for i in test_dict:
  tester1[i]=len(set(test_dict[i]))
"".join([a for a in tester1 if tester1[a]==max(tester1.values())])

'CampusX'

In [ ]:
test_dict1 = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
tester2={}
for i in test_dict1:
  tester2[i]=len(set(test_dict1[i]))
"".join([a for a in tester2 if tester2[a]==max(tester2.values())])

'Best'

In [ ]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
c1=test_str.split()
for i in range(len(c1)):
  if c1[i] in repl_dict:
    c1[i]=repl_dict[c1[i]]
" ".join(c1)

'CampusX is the best channel for Data-Science students.'

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
[{key_list[0]:test_list[i],key_list[1]:test_list[i+1]} for i in range(0,len(test_list),2)]

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [ ]:
a12=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
{a:[b] for (a,b) in a12}

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

In [ ]:
a13={'c': [3], 'b': [12, 10], 'a': [19, 4]}
{a:sorted(a13[a]) for a in sorted(list(a13))}

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [ ]:
a14={'c': [3], 'b': [12, 10], 'a': [19, 4]}
list(a14)

['c', 'b', 'a']

In [ ]:
#map(function,iterable)
#use of map function
def square(x):
  return x**2
a1=[1,2,3,4]
squared=map(square,a1)
print(list(squared))

[1, 4, 9, 16]

In [ ]:
#q1
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
s1=[]
for i in test_list:
  s1.append(i[0])
s1=set(s1)
s2=[]
for i in s1:
  s2.append([i])
  for j in test_list:
    if i==j[0]:
      s2[-1].append(j[1])
print(list(map(tuple,s2)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
s1=[]
for i in test_list:
  s1.append(i[0])
s1=set(s1)
s2=[]
for i in s1:
  s2.append([i])
  for j in test_list:
    if i==j[0]:
      s2[-1].append(j[1])
list(map(tuple,s2))

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [ ]:
#q2
t1=(1, 5, 7, 8, 10)
t2=[]
t2.append(t1[0]*t1[1])
for i in range(1,len(t1)-1):
  t2.append(t1[i-1]*t1[i]+t1[i]*t1[i+1])
t2.append(t1[-1]*t1[-2])
print(tuple(t2))

(5, 40, 91, 136, 80)

In [ ]:
for i in range(15):
  if i in (0,1,2,3,4,5,6,7,8,9):
    continue
    print("kaha")
  else:
    print(i)
  print("kabhi")
#the moment you come across continue , nothing below gets printed

10
kabhi
11
kabhi
12
kabhi
13
kabhi
14
kabhi

In [ ]:
#q3
t1 = (1,2,3,0)
t2 = (0,1,2,3)
flag=True
for i,j in zip(t1,t2):
  if i==j:
    continue
  else:
    flag=False
    break
if flag:
  print("Same")
else:
  print("different")

different

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
obj32=[0,0,0]
for i in list1:
  if type(i)==tuple:
    obj32[0]=obj32[0]+1
  elif type(i)==list:
    obj32[1]=obj32[1]+1
  elif type(i)==set:
    obj32[2]=obj32[2]+1

print(f"Tuple: {obj32[0]}\nList:{obj32[1]}\nSet:{obj32[2]}")

Tuple: 1
List:2
Set:2

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
ar11=set(ar1)
ar22=set(ar2)
ar33=set(ar3)
list(ar11&ar22&ar33)

[80, 20]

In [ ]:
Str1 = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")
Str1

{' ',
 '-',
 'A',
 'C',
 'X',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'y'}

In [ ]:
s1=set('aeiouAEIOU')
print(s1)
#on applying set or list function to a string, every character in string gets converted into seperate items of string

{'E', 'o', 'e', 'A', 'i', 'O', 'U', 'a', 'u', 'I'}

In [ ]:
my_list = [1, 2, 3, 4, 5]
result = my_list[3:0:-1]
print(result)

[4, 3, 2]

In [ ]:
Str1 = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")
s2=set("aeiouAEIOU")
print(f"Length is {len(Str1&s2)}")

Length is 6

In [ ]:
#set doesnot have duplicates
a11=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
s1=set()
for i in a11:
  s1.update(i)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
{1,2,3}=={3,2,1}
#set doesnot takes duplicates and set is unordered unlike tuple,list

True

In [ ]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
[a for a in lst1 if a in lst2]
#this is another way finding common items

[4, 5, 9, 10]

In [ ]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
max_value=0
max_item=""
for i in test_dict:
  if max_value<len(set(test_dict[i])):
    max_value=len(set(test_dict[i]))
    max_item=i
print(max_item)

CampusX

In [ ]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
d11=[]
for i in test_str.split():
  if i in repl_dict:
    d11.append(repl_dict[i])
  else:
    d11.append(i)
" ".join(d11)

'CampusX is the best channel for Data-Science students.'

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
[{key_list[0]:test_list[i],key_list[1]:test_list[i+1]} for i in range(0,len(test_list),2)]

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [ ]:
smw=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
{a:[b] for (a,b) in smw}

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

In [ ]:
d11={'c': [3], 'b': [12, 10], 'a': [19, 4]}
{a:sorted(d11[a]) for a in sorted(list(d11))}

{'a': [4, 19], 'b': [10, 12], 'c': [3]}